{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <style>
    /* Add custom styles here */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* Adjust the gap between cards */
    }

    .card {
      width: px; /* Adjust the width of each card */
      /* Optionally, you can add additional styling to the cards */
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .card-body {
      padding: 10px; /* Adjust the padding inside the card body */
    }

    /* Ensure the button is always at the bottom */
    .center-button {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 15px; /* Optional: Add some margin for better spacing */
    }
  </style>

  <div class="container mt-3 card-container">
    {% for card in cards %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <hr>
          <ul class="list-group">
            {% for event in card.events %}
              <li class="list-group-item">
                <strong>{{ event.name }}:</strong> {{ event.description }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

    <div class="center-button">
      <a href="{{url_for('pages.register_child')}}" class="btn btn-primary">Register Child</a>
    </div>
  </div>
{% endblock %}
